@import './_mixins.scss';
@use './_variables.scss';

body { font-family: 'Poppins' , sans-serif; }

.bg-primary {
    background-color: var(--blue) !important;
    color:  var(--white);

    a { color:  var(--white); }
}

.bg-grey {
    background-color: var(--grey) !important;
    color:  var(--black);
}

a {
    transition: .3s ease;
    color: black;
}   

.bold { font-weight: 600; }

.section-title {
    @include scale-font($small-ratio: .65, $mid-ratio: .75, $final-size: 3.125rem);
    font-weight: 600;
    line-height: 1;
    font-weight: 600;
}

.flex-center { 
    display: flex; 
    align-items: center;
}

.justify-end { 
    display: flex; 
    justify-content: center;
    
    @include respond-to($vp-large) {
        justify-content: flex-end;
	}
}

#nav_bar{
    background: white;
    

    .social-icons { gap: 8px; }

    a { 
        color: var(--black);
        transition: .3s ease;

        @include hover {
            color: var(--blue);
        }
    }

    .tel {
        a { text-decoration: none; }
        font-size: 14px;

        svg {
            margin-right: 5px;
            width: 18px;
            height: 18px;
        }
    }

    .topbar { margin-bottom: 15px; }

    @include respond-to($vp-large) {
        padding: 20px 0;

        .topbar {
            border-bottom: 1px solid rgba(21, 21, 21, .25);
            padding-bottom: 15px;
            margin-bottom: 10px;
        }

        .hamburger-react{
            display: none !important;
        }
    } 
}

#shuffle {
    .carousel-item {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.1);
        }
    }

    .carousel-caption {
        padding: 20px 0;
        background-color: rgba(20, 25, 48,0.75);
    }

    .d-block.w-100 {
        max-height: 40vw;
        object-fit: cover;
        object-position: top;
    }
}

#about_us, #cards, #servicios, #team {
    padding: 40px 0;
    
    @include respond-to($vp-large) {
        padding: 100px 0; 
    }
}

#about_us {
    @include respond-to($vp-large) {
        .item-text { font-size: 20px; }
    }
}

#cards {
    .section-title { margin-bottom: 40px; }

    .item-inner {
        svg {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }
        box-sizing: border-box;
        border: 3px solid white;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin: 0;
        height: 100%;
        justify-content: center;
    }

    .col { padding: 0; }

    .row-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        grid-auto-rows: minmax(150px, auto);
    }

    .item-text {
        margin-top: 30px;
    }

    @include respond-to($vp-mid) {
        .row { grid-template-columns: repeat(2, 1fr); }
    }
    
    @include respond-to($vp-large) {
        .section-title { text-align: right; }
        .row { grid-template-columns: repeat(3, 1fr); }
    }
}

#servicios {
    .section-title { margin-bottom: 40px; }

    .accordion-item {
        margin: 15px 0;
        border: none;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);

        .accordion-button {
            box-shadow: none;
            background-color: white;

            &:not(.collapsed) {
                color: var(--blue);
            }

            svg {
                margin-right: 10px;
                width: 24px;
                height: 24px;
            }
        }

        .accordion-body { font-size: 14px; }
    }

    @include respond-to($vp-large) {
        .item-text { padding-right: 30px; }
    }
}

#testimonials {
    .col-testimonials { position: relative; }
 
    padding: 60px 0;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
        image: url("../../public/bg-testimonials.png");
    }

    .carousel-control-next, .carousel-control-prev { width: 10%; }

    .carousel-inner {
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        background-color: white;
        padding: 40px 50px 60px 50px;
        box-sizing: border-box;

        .carousel-caption {
            position: relative;
            color: black;
            right: auto;
            left: auto;
        }

        .name { font-weight: 600; }

        .job { font-size: 14px; }
        p { 
            margin: 0; 
            text-align: left;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    
    @include respond-to($vp-large) {
        margin-top: 120px;
        padding: 250px 0; 

        .carousel {
            position: absolute;
            left: 80px;
            bottom: calc(100% + 80px);
        }
    }
}

#team {
    .section-title { 
        margin-bottom: 40px; 
        border-bottom: 2px solid rgba(21, 21, 21, .25);
        padding-bottom: 20px;
    }

    .card {
        background-color: transparent;
        border: none;
        text-align: center;

        img {
            margin: 0 auto;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .card-text { font-size: 14px; }

        .team-contact {
            margin-top: 20px;
            line-height: 2;
            svg {
                margin-right: 10px;
                width: 18px;
                height: 18px;
            }
        }
    }

    @include respond-to($vp-large) {
        .section-title {  padding-left: 0; }
	}
}

#cursos {
    padding: 65px 0 80px 0;

    .card {
        padding: 30px;
        box-sizing: border-box;
        align-items: center;
        margin: 15px 0;

        .card-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        .btn.btn-primary {
            display: flex;
            align-items: center;
            gap: 8px;
            width: fit-content;
            background: #48d366;
            border: none;
            transition: .3s ease;
            @include hover {  background-color: var(--blue); }
        }
    }

    @include respond-to-max($vp-large) {
        .content-title {
            text-align: center;
            margin: 20px 0;
        }

        .btn.btn-primary { margin: 0 auto; }
    }

    @include respond-to($vp-large) {
        .card {
            flex-direction: row;

            .card-title {
                font-size: 2rem;
            }
        }
    }
}

#propiedades {
    padding: 65px 0 80px 0;
    gap: 20px 0;

    .card {
        padding: 15px 25px;
        border-radius: 12px;
    
        .card-img {
            max-height: 250px;
            object-fit: cover;
            border-radius: 12px;
            padding: 0;
            margin-bottom: 20px;
        }

        .title-prop {
            text-transform: uppercase;
            font-weight: 600;
            color: var(--blue);
            font-size: 18px;
        }

        .address-prop {
            font-size: 14px;
            color: rgba(0,0,0,0.5);
            display: flex;
            align-items: center;

            svg { margin-right: 10px; }
        }

        .carac-prop {
            padding: 0 5px;
            font-size: 12px;
            text-align: center;

            p { margin: 0; }

            .col-4 {
                padding: 12px 0;
                border-right: 1px solid rgba(0,0,0,0.175);

                &:last-child { border: none; }
            }
        }

        .price-prop {
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--blue);
        }
        
        .btn.btn-primary {
            background: var(--blue);
            border-color: var(--blue);
            border-width: 2px;
            border-radius: 12px;
            transition: .3s ease;
            @include hover {  
                background-color: var(--white); 
                color: var(--blue);
            }
        }
    }
}

#full-contact {
    #contact {
        padding: 65px 0 80px 0;

        .content-contact {
            display: flex;
            align-items: center;
            font-size: 14px;

            span {  display: block; }
            .title {
                text-transform: uppercase;
                font-weight: 600;
            }
        }

        .iframe-map {
            height: 300px;
            overflow: hidden;
            border-radius: 12px;
        } 
    }

    @include respond-to($vp-large) {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            z-index: -1;
            width: 25%;
            top: 0;
            right: 0;
            background-color: var(--blue);
        }

        .iframe-map {
            height: 460px;
        }
    }
}

#footer {
    border-top: 1px solid var(--almost-white);

    .container .py-5 {
        display: flex;
        align-items: center;
    }

    .content-social {
        justify-content: center;
        gap: 10px;
        display: grid;
    }

    .footer-address {
        margin-bottom: 10px;
        line-height: 1.75;
        p { margin: 0; }
    }

    .list-group-group {
        padding-left: 0;

        .list-group-item { line-height: 2; }
    }

    .copyright { font-size: 12px; }

    .ciudad-creativa {
        padding-bottom: 20px;
        text-align: center;
        font-size: 14px;
    }
}